.btns {
    border: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #888;
}

.btnHistory {
    background-color: #696969;
}

.btnEdit {
    background-color: #DAA520;
}

.btnDelete {
    background-color: #C0392B;
}